# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable remotedev': 'remotedev:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'RemoteDev'
      'submenu': [
        { 'label': 'Edit Config', 'command': 'remotedev:edit-config' }
        { 'label': 'Download', 'command': 'remotedev:download' }
        { 'label': 'Upload', 'command': 'remotedev:upload' }
      ]
    ]
  }
]
